@import "variables.scss";
@import "cards.scss";

.App {
  border-radius: 10px;
  padding: $padding;
  background-color: $primaryColor;
}

.player-spot {
  border: 3px solid transparent;
  margin: $padding auto;
  padding: 10px;
  background-color: #666;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  display: block;
  width: 220px;

  .num-cards {
    //margin-left: 10px;
    font-size: 0.7em;
    float: right;
  }

  &.is-player-turn {
    border: 3px solid red;
  }

  .end-turn-button {
    margintop: $padding;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  & > div,
  button {
    margin-bottom: 20px;
  }
}
.delay-input {
  color: white;
}

.right-side {
  min-width: 600px;
}
