$primaryCardColor: darkblue;

.grid {
  margin: 100px auto;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .cell {
    text-align: center;
    flex: 0 0 32%;
    height: 100px;
    //border: 1px solid pink;
    border-radius: 5px;
    position: relative;
    &.drag-hovering {
      opacity: 0.7;
      background-color: white;
    }
  }

  .card-holder {
    position: absolute;
    /* border: 1px solid yellow; */
  }

  $cornerStackOffset: -10px;
  .card-holder-NE {
    bottom: $cornerStackOffset;
    left: $cornerStackOffset;
    margin-left: 30px;
    transform: rotate(225deg);
  }

  .card-holder-NW {
    bottom: $cornerStackOffset;
    right: $cornerStackOffset;
    margin-bottom: 30px;
    transform: rotate(135deg);
  }

  .card-holder-N {
    bottom: 0;
    left: 70px;
    margin-bottom: 0px;
    transform: rotate(180deg);
  }

  .card-holder-S {
    top: 0;
    right: 70px;
    margin-bottom: 0px;
  }

  .card-holder-SE {
    top: $cornerStackOffset;
    left: $cornerStackOffset;
    margin-top: 30px;
    transform: rotate(315deg);
  }

  .card-holder-SW {
    right: $cornerStackOffset;
    top: $cornerStackOffset;
    margin-right: 30px;
    transform: rotate(45deg);
  }

  .card-holder-E {
    top: 70px;
    left: 0;
    margin-bottom: 0px;
    transform: rotate(270deg);
  }

  .card-holder-W {
    bottom: 70px;
    right: 0;
    margin-bottom: 0px;
    transform: rotate(90deg);
  }
}

.card {
  text-align: center;
  color: black;
  border: 2px solid $primaryCardColor;
  width: 40px;
  height: 60px;
  background-color: white;
  border-radius: 7px;
  position: absolute;
  top: 0;
  user-select: none;
  font-family: "Comic Sans MS";
  font-size: 20px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    border: 2px solid red;
    background-color: pink;
  }
  &.faceDown {
    left: 26px;
    top: 18px;
    background-color: $primaryCardColor;
  }
}

@for $i from 0 through 12 {
  .card-holder .card:nth-child(#{$i + 1}) {
    margin-top: #{$i * 20px};
  }
}

.card-suit-black {
  color: black;
}

.card-suit-red {
  color: red;
}


.player-spot .player-hand {
  margin-top: $padding;
  .card {
    position: relative;
    display: inline-block;
  }
}
